.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button:focus,
.btn-primary:focus {
  background: #20a781;
}
.gallery-filters a {
  margin-right: 5px;
}
.gallery-filters a.active {
  color: #fff;
  background: #20a781;
}
.tags a {
  margin-bottom: 5px;
}
.tags a.label {
  background: #20a781;
}
.label,
.badge {
  background: #20a781;
}
.vina-button:hover,
.btn:hover {
  background: #20a781;
}
a:not(.btn) {
  color: #0000CD;
}
a:not(.btn):hover {
  color: #20a781;
}
body {
  color: #666666;
}
body.bg {
  background: #fff;
}
.logo {
  background-image: url(../../images/presets/preset4/logo.png);
}
#sp-left h3.header,
#sp-right h3.header {
  background-color: #de002b;
 
}
#sp-left h3.header span,
#sp-right h3.header span {
  background: url(../..1/image2s/presets/preset4/background-block1.html) no-repeat 0 50%;
}
#sp-message-area h3.header span {
  background: #fff url(../../images/presets/preset4/bg_vina_title.png) no-repeat center left;
}
#sp-bottom-wrapper h3.header {
  background: url(../../images/presets/preset4/bg_vina_title.png) no-repeat center left;
}
.tagspopular li a:hover {
  color: #fff;
  background: #20a781;
  border: 1px solid #20a781;
}
.vina_categories .vina-cmenu-vertical-jshopping > ul li.active >a,
.vina_categories .vina-cmenu-vertical-jshopping > ul li:hover >a {
  color: #20a781 !important;
}
div.vina-treeview-jshopping > ul li.collapsable {
  border-bottom: 0;
}
div.vina-treeview-jshopping > ul li.collapsable > a {
  color: #20a781;
}
div.vina-treeview-jshopping > ul li.expandable:hover > a {
  color: #20a781;
}
div.vina-treeview-jshopping > ul li > ul {
  border-bottom: none;
  border-top: 1px solid #f1f1f1;
  margin: 0;
  background: #fcfcfc;
}
div.vina-treeview-jshopping > ul > li.expandable:hover > .hitarea {
  background: url("../../images/presets/preset4/bg-left-menu-hover.png") no-repeat 50% 50%;
}
div.vina-treeview-jshopping > ul > li > ul > li.expandable:hover > .hitarea {
  background: url("../../images/presets/preset4/bg-left-menu-hover.png") no-repeat 50% 50%;
}
div.vina-treeview-jshopping > ul.treeview li.collapsable > .hitarea {
  background: url(../../images/presets/preset4/bg-left-menu-active.png) no-repeat 50% 50%;
}
.vina-ticker-jshopping .header-block {
  background: #20a781;
}
.vina-ticker-jshopping .vina-item a {
  color: #333 !important;
}
.vina-ticker-jshopping .vina-item a:hover {
  color: #20a781 !important;
}
.vina-ticker-jshopping .header-block {
  background: #20a781;
  border-bottom: 2px solid #187c60;
}
.vina-carousel-jshopping .block_item .item_inner h3.title a:hover {
  color: #20a781 !important;
}
.buttons a.button_buy:hover,
.buttons a.button_detail:hover,
.buttons a.button_wishlist:hover {
  background: #20a781;
  color: #fff;
}
.pagination ul >li.pagination-active >a,
.pagination ul >li.pagination-active span {
  color: #20a781;
}
#sp-top1 .chzn-container-single .chzn-single:hover div b,
#sp-top1-layout2 .chzn-container-single .chzn-single:hover div b {
  border-top: 4px solid #20a781;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.custom_vina-language ul li a:hover {
  color: #20a781;
  background: transparent;
}
.custom_vina-language ul li.result-selected a {
  color: #20a781;
}
.custom_vina-language .btn:hover .caret {
  border-top: 4px solid #20a781;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.custom_vina-language .btn:hover a {
  color: #20a781;
}
.jshop.account-login h1.header,
.jshop.account-logout h1.header,
.jshop.account-create h1.header,
.jshop.editaccount_block h1.header,
.jshop.account_block h1.header,
.jshop.vina_wishlist h1.header {
  color: #20a781;
}
.step-title .number {
  background: #20a781;
  border: 1px solid #20a781;
}
#jshop_module_cart .jshop_quantity_products:hover {
  color: #347091;
}
#jshop_module_cart .my_cart:before {
  background: #de002b;
}
#jshop_module_cart .top-cart-content .product-details:hover .product-name a {
  color: #347091;
}
#jshop_module_cart .top-cart-content .goto_cart a:hover {
  background: #347091;
}
#sp-header-wrapper .logo {
  background-image: url(../../images/presets/preset4/logo.png);
}
#sp-advanced-search .btn:hover,
#sp-advanced-search .button:hover {
  background: #20a781;
}
#sp-header-wrapper.header-layout2 #sp-advanced-search .btn,
#sp-advanced-search .button {
  background: #de002b;
}
#sp-main-menu ul.level-0 > li:hover,
#sp-main-menu ul.level-0 > li.active {
  background: #878787;
}
#sp-main-menu-wrapper.main-menu-layout2 {
  background: #347091;
}
#sp-main-menu-wrapper.main-menu-layout2 ul.level-0 >li.active,
#sp-main-menu-wrapper.main-menu-layout2 ul.level-0 >li:hover {
  background: #7ae6c7;
}
.camera_caption .link a {
  background-color: #347091 !important;
}
.camera_slider_layout2 .vina-camera-slider .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent,
.camera_slider_layout2 .vina-camera-slider .camera_wrap .camera_pag .camera_pag_ul li.camera_hover {
  background: #347091 !important;
}
.breadcrumb li span.last {
  color: #347091;
}
.module.highlighted {
  background: #3498DB;
}
.module.highlighted a {
  color: #fff !important;
}
.page-header {
  color: #20a781;
}
.page-header a {
  color: #20a781;
}
.progress-striped .bar {
  background-color: #20a781;
}
#vina_about_us .carousel .item .incon_bg {
  background: #20a781;
}
#vina_about_us .carousel .carousel-control {
  color: #20a781;
}
#vina_about_us .carousel:hover .carousel-control:hover {
  background: #20a781;
}
#vina_about_us .skill ul li {
  border-left: 2px solid #20a781;
}
#vina_company .img-polaroid .info_team ul li a:hover {
  background: #20a781;
}
#vina_pricing_table .pricing_table .thumbnail button {
  background: #20a781;
}
#vina_contact_us ul li a:hover {
  border: 1px solid #20a781;
}
#vina_contact_us ul.social li a {
  border: 4px solid #7ae6c7;
  background: #20a781;
}
#vina_contact_us ul.social li a:hover {
  border: 4px solid #20a781;
}
#vina_contact_us ul.social li a:hover em {
  color: #20a781;
}
#vina_contact_us .map span em {
  color: #20a781;
}
.category .items-row .item .entry-meta.muted [class^="icon-"],
.category .items-row .item .entry-meta.muted [class*=" icon-"] {
  color: #20a781;
}
.item-page .entry-meta.muted [class^="icon-"],
.item-page .entry-meta.muted [class*=" icon-"] {
  color: #20a781;
}
.sp-mobile-menu {
  background: #000;
}
.sp-mobile-menu ul li a {
  color: #fff;
}
.sp-mobile-menu ul li a:hover,
.sp-mobile-menu ul li a.active {
  color: #20a781;
}
.icon-color:before {
  color: #20a781;
}
#sp-bottom-wrapper a:not(.btn):hover,
#sp-footer-wrapper a:not(.btn):hover {
  color: #20a781;
}
#sp-footer-wrapper .sp-totop:hover {
  background: #20a781;
}
.sp-border {
  border-top: 1px solid #000000;
}
.sp-border::after {
  background: #0d4535;
}
.btn-primary,
button,
input[type='submit'],
input[type='button'],
submit {
  background: #222;
}
.btn-primary:hover,
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
submit:hover {
  color: #fff;
  background: #20a781;
}
img.jshop_img_thumb:hover {
  border: 1px solid #20a781;
}
.detailsRight .availability .in_stock {
  color: #20a781;
}
.detailsRight .prod_buttons span.btn_add:hover,
.detailsRight .prod_buttons span.btn_wishlist:hover {
  background: #20a781;
}
.tab-block .nav-pills>li>a:hover,
.tab-block .nav-pills>li.active>a,
.tab-block .nav-pills>li>a:focus {
  background-color: #20a781;
}
.our-partners .carousel-control.left:hover,
.our-partners .carousel-control.left:focus,
.our-partners .carousel-control.right:hover,
.our-partners .carousel-control.right:focus {
  border: 1px solid #20a781 !important;
  background-color: #20a781 !important;
}
.our-partners .carousel-control.left:hover i,
.our-partners .carousel-control.left:focus i,
.our-partners .carousel-control.right:hover i,
.our-partners .carousel-control.right:focus i {
  color: #fff !important;
}
.vina-carousel-jshopping.owl-theme .owl-controls .owl-next:hover,
.vina-carousel-jshopping.owl-theme .owl-controls .owl-prev:hover,
.vina-carousel-content.owl-theme .owl-controls .owl-next:hover,
.vina-carousel-content.owl-theme .owl-controls .owl-prev:hover {
  background-color: #20a781 !important;
}
.vina-manufacturers-jshopping .vina-next:hover,
.vina-manufacturers-jshopping .vina-prev:hover {
  background-color: #20a781 !important;
}
.carousel .flex-direction-nav .flex-next:hover,
.carousel .flex-direction-nav .flex-prev:hover {
  background-color: #20a781 !important;
}
.carousel .flex-direction-nav .flex-next:hover,
.carousel .flex-direction-nav .flex-prev:hover {
  background-color: #20a781;
}
#vina_contact_us .contact_us h3 {
  border-left: 2px solid #20a781;
}
#vina_contact_us .contact_us .qlform input.submit:hover {
  background: #20a781;
}
#vina_contact_us .vina-title {
  border-left: 2px solid #20a781;
}
#vina_contact_us .map span em {
  color: #20a781;
}
.vina-carousel-content .item a:hover {
  color: #20a781 !important;
}
.vina-carousel-content .item .readmore a {
  color: #20a781 !important;
}
.readmore a {
  color: #20a781 !important;
}
#tab2.nav-pills>.active>a,
#tab2.nav-pills>.active>a:hover,
#tab2.nav-pills>.active>a:focus {
  background: #20a781;
}
.chzn-container .chzn-results li.highlighted {
  color: #20a781;
}
ul.chzn-results li {
  padding: 3px 20px;
}
ul.chzn-results li.result-selected {
  color: #20a781;
}
.fielderror {
  border: 1px dashed #20a781 !important;
  background-color: #a5eed9 !important;
}
#sp-main-menu-layout2-wrapper #sp-main-menu ul.level-0 > li:hover,
#sp-main-menu-layout2-wrapper #sp-main-menu ul.level-0 > li.active {
  background: #7ae6c7;
}
.banner-bottom-inner .pull-left {
  border: 4px solid #20a781;
}
.banner-bottom-inner:hover .pull-left {
  background: #20a781;
  box-shadow: 0 0 0 6px rgba(32,167,129,0.3);
}
.banner-bottom-inner:hover .pull-left em {
  color: #fff;
}
.banner-bottom-inner:hover .media-body {
  color: #20a781;
}
.style-layout2 .buttons a.button_buy,
.style-layout2 .buttons a.button_detail,
.style-layout2 .buttons a.button_wishlist {
  color: #fff !important;
  background: #20a781;
}
.style-layout2 .buttons a.button_buy:hover,
.style-layout2 .buttons a.button_detail:hover,
.style-layout2 .buttons a.button_wishlist:hover {
  background: #444;
  color: #fff;
}
.style-layout2 .block_item .item_inner .buttons a.button_detail:hover:before {
  border: 1px solid #20a781;
}
.mod_latest_blog.style-layout2 .item .readmore:hover {
  border: 1px solid #20a781;
}
#sp-main-menu-wrapper.box-layout3 #main-menu {
  background-color: #20a781;
}
.module.camera_slider_layout3 .camera_caption h3.subtitle {
  color: #20a781;
}
.module.camera_slider_layout3 .camera_caption .link a:hover {
  border: 1px solid #20a781 !important;
  background: #20a781 !important;
}
.style-layout3 .block_item .item_inner .buttons a.button_buy:hover i,
.style-layout3 .block_item .item_inner .buttons a.button_detail:hover i,
.style-layout3 .block_item .item_inner .buttons a.button_wishlist:hover i {
  color: #20a781;
}
.module .sp_strong h3.header {
  font-family: Calibri;
  font-size: 32px;
}
.module .sp_strong h3.header span {
  padding: 0 0 28px;
  margin-bottom: 28px;
  display: inline-block;
  background: url(../images/bg_header_layout4.html) no-repeat left bottom;
}
.module.camera_slider_layout4 .vina-camera-slider .camera_caption .slide-btn a:hover,
.module.camera_slider_layout4 .vina-camera-slider .camera_caption .slide-btn a.active {
  background: #20a781 !important;
  border: 1px solid #20a781;
}
.team-item .person-info h4 a {
  color: #20a781;
}
.our-team .team-item .team-social-link ul li a:hover {
  color: #20a781;
}
.gallery-filters a.btn {
  color: #666666;
}
.gallery-filters a.btn:hover,
.gallery-filters a.btn.active {
  color: #fff;
  background: #20a781;
  border: 1px solid #20a781 !important;
}
ul.gallery .item .gallery-info {
  background: #20a781;
  border: 7px solid #20a781;
}
ul.gallery .item .gallery-info .link-wrapper a:hover {
  border: 1px solid #20a781;
}
ul.gallery .item .gallery-info .link-wrapper a:hover i:before {
  color: #20a781;
}
#sp-purchase-wrapper {
  background-color: #20a781;
}
.our-services .media:hover .icon {
  border: 1px solid #20a781;
}
.our-services .icon i {
  color: #20a781;
}
.our-services .media-heading:hover {
  color: #20a781;
}
#sp-our-experience .mod-inner .custom:before {
  background-color: #20a781;
}
#sp-our-video-wrapper {
  background: #20a781;
}
.our-price .price-item:hover ul li.buy .vina-button-2 {
  background: #20a781 !important;
}
.vina-list-1 .list-item:hover .list-img {
  background-color: #20a781;
}
.vina-list-1 .list-item:hover .list-img:before {
  border-bottom: 40.5px solid #20a781;
}
.vina-list-1 .list-item:hover .list-img:after {
  border-top: 40.5px solid #20a781;
}
.vina-list-2 .list-left-item:hover .list-2-img:before,
.vina-list-2 .list-right-item:hover .list-2-img:before {
  background: #20a781;
}
.vina-our-work .list-work .work-item:hover {
  background: #20a781;
}
.our-price .price-item h3 sub {
  color: #20a781;
  background: #fff;
}
.our-price .price-item:hover h3 {
  color: #fff;
  background: #20a781;
}
.our-price .price-item:hover h3 sub {
  color: #fff;
  background: #323232;
}
.our-price .price-item:hover ul li.buy .vina-button-2 {
  background: #20a781 !important;
}
.vina-accordion-content .vina-accordion-container {
  padding: 8px 20px !important;
}
.vina-accordion-content .vina-accordion-item.accordion-open span {
  background: url(../../images/presets/preset4/icon_sub.png) center center no-repeat;
}
.vina-accordion-content .vina-accordion-item:hover {
  color: #20a781;
}
.vina-accordion-content .vina-accordion-item:hover p {
  color: #20a781;
}
.vina-accordion-content .vina-accordion-item:hover.accordion-close span {
  background: url(../../images/presets/preset4/icon_add.png) center center no-repeat;
}
.vina-accordion-content .vina-accordion-item.accordion-open {
  color: #20a781;
}
.vina-accordion-content .vina-accordion-item.accordion-open p {
  color: #20a781;
}
.testimonials-partners #carousel-testimonials .carousel-control:hover {
  background-color: #20a781 !important;
}
.testimonials-partners #carousel-testimonials .carousel-control:hover i {
  color: #fff !important;
}
.our-partners .span4:hover {
  border: 1px solid #20a781;
}
